@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@import "flowbite";
@source "../node_modules/flowbite";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";

@theme {
  --color-primary: #931A25;
  --color-secondary: #222222;
  --color-border: #D9D9D9;
  --color-focus: #1677FF;

  --font-family-inter: "Inter", sans-serif;
}