@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@import "flowbite";
@source "../node_modules/flowbite";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";

@theme {
  --color-primary: #931A25;
  --color-secondary: #222222;
  --color-border: #D9D9D9;
  --color-focus: #1677FF;

  --font-family-inter: "Inter", sans-serif;
}

/* ================== */
/* Animasi Custom CSS */
/* ================== */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out both;
}

@keyframes floating {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}
.animate-floating {
  animation: floating 4s ease-in-out infinite;
}
